<!DOCTYPE html>
<html>
<head>
    <title>Access Control</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="container">

    <!-- 標題 -->
    <h1 class="title">門 禁 系 統</h1>

    <!-- 狀態 -->
    <div id="status" class="status waiting">
        ⏳ WAITING
    </div>

    <!-- Camera -->
    <div class="camera-box">
        <img id="cam">
        <div id="overlay" class="overlay">Scanning...</div>
    </div>

</div>

<script src="/static/js/main.js"></script>

</body>
</html>

